# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfplan

# AWS
.aws/
*.pem

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.env

# Node
node_modules/
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
**/secret*
**/tfvars/devops.tfvars
!**/tfvars/devops.tfvars.example
